[core]
	editor = vim
	excludesfile = ~/.gitignore.global
[include]
	path = ~/.gitconfig.local
[alias]
	st = status
	cm = commit
	co = checkout
	br = branch
	ad = add
	ps = push
	pl = pull
	pr = pull-request
	lg = log --decorate --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[push]
	default = simple
[gpg]
	program = gpg
[commit]
	gpgsign = true
[ghq]
	root = ~/dev/src
