[core]
	editor = vim
	excludesfile = ~/.gitignore
[user]
	email = shinsugar@gmail.com
	name = Shingo Sato
[alias]
	st = status
	cm = commit
	co = checkout
	br = branch
	ad = add
	ps = push
	pl = pull
	pr = pull-request
	lg = log --decorate --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	delete-merged-branches = !git branch --merged | grep -vE '^\\*|master$|develop$' | xargs -I % git branch -d %
	dm = delete-merged-branches
	ds = !$DOTFILES/bin/dsb
	bwc = "!f(){ ignore=${1:-(?!)}; user=${2:-"(sugarshin\\\\|(Shingo Sato"}; git ls-files | grep -v \"$ignore\" | xargs -n1 git --no-pager blame -f -w | grep \"${user}\" | wc -l;};f"
	f = fetch origin --prune
[push]
	default = simple
[gpg]
	program = gpg
[commit]
	gpgsign = true
[ghq]
	root = ~/dev/src
[include]
	path = ~/.gitconfig.local
