[core]
	editor = vim
	excludesfile = ~/.gitignore
[user]
	email = shinsugar@gmail.com
	name = Shingo Sato
[alias]
	st = status
	cm = commit
	co = checkout
	br = branch
	ad = add
	ps = push
	pl = pull
	c = clean -fd
	chp = cherry-pick
	cpr = pull-request
	lg = log --decorate --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	delete-merged-branches = !git branch --merged | grep -vE '^\\*|master$|develop$|main$' | xargs -I % git branch -d %
	dm = delete-merged-branches
	ds = !$DOTFILES/bin/dsb
	bwc = "!f(){ ignore=${1:-(?!)}; user=${2:-"(sugarshin\\\\|(Shingo Sato"}; git ls-files | grep -v \"$ignore\" | xargs -n1 git --no-pager blame -f -w | grep \"${user}\" | wc -l;};f"
	f = fetch origin --prune
	d = diff
	pso = !git push origin $(git rev-parse --abbrev-ref HEAD)
	plo = !git pull origin $(git rev-parse --abbrev-ref HEAD)
	b = !gh browse
	copr = !$DOTFILES/bin/checkout_pr
	wad = "!git-worktree-add.sh"
[push]
	default = simple
[gpg]
	program = gpg
[commit]
	gpgsign = true
[ghq]
	root = ~/dev/src
[pull]
	ff = only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig.local
	; example:
	; [includeIf "gitdir:~/dev/src/foo.com/"]
	; 	path = ~/dev/src/foo.com/.gitconfig
