'editor':
  'fontSize': 15
  'fontFamily': 'Source Code Pro'
  'showIndentGuide': true
  'showInvisibles': true
  'softWrap': true
  'softWrapAtPreferredLineLength': true
  'invisibles': {}
  'softWrapped': true
'core':
  'themes': [
    'seti-ui'
    'seti-syntax'
  ]
'exception-reporting':
  'userId': ''
'welcome':
  'showOnStartup': false
'metrics':
  'userId': ''
